@model MvcContacts.Models.AboutModel
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@Model.Name</h3>
<h3>@Model.Strasse</h3>
<div>Location is @Model.Ort</div>

<p>Use this area to provide additional information.</p>
