@*@using PagedList*@
@model IPagedList<MvcContacts.Models.Restaurants>


@{
    ViewBag.Title = "Ode To Food";
}

<h2>Ode to the Food</h2>
<form action="@Url.Action("Index")" method="get" data-mvc-ajax="true" data-mvc-target="#restaurantList">
<input type="search" name="searchTerm" data-mvc-autocomplete="@Url.Action("AutoComplete")"/>
<input type="submit" value="Suche"/>
</form>
@*@using (Html.BeginForm())
{
<input type="search" name="searchTerm"/>
<input type="submit" value="Suche"/>
}*@
@*@using (Ajax.BeginForm(new AjaxOptions
{
    HttpMethod = "get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "restaurantList"

}))
{
    <input type="search" name="searchTerm" />
    <input type="submit" value="Suche" />
}*@

@Html.Partial("Restaurants",Model)
